<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <img
      class="logo"
      src="../public/images/logo-mercado-liebre.svg"
      alt="logo-mercado-libre"
    />
    <link rel="stylesheet" href="../public/css/styles.css" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- inicia navbar -->
    <header class="nav">
      <div class="burger-menu">
        <i class="fas fa-bars"></i>
      </div>
      <ul>
        <li>Ofertas</li>
        <li>Tiendas oficiales</li>
        <li>Vender</li>
        <li>Ayuda</li>
      </ul>

      <ul>
        <li>Crea tu cuenta</li>
        <li>Ingresa</li>
        <li>Mis Compras</li>
      </ul>
      <!-- inicia barra navegadora -->

      <div class="field" id="searchform">
        <input
          type="text"
          id="searchterm"
          placeholder="what are you searching for?"
        />
        <button type="button" id="search">Find!</button>
      </div>
      <!-- temina barra navegadora -->
    </header>

    <main>
      <h1>Mercado Libre</h1>

      <h3>Compra en coutas y sin tarjeta de crédito</h3>

      <h2>Basado en tu última visita</h2>
      <article class="articulo">
        <div class="cajaArticulo">
          <img
            src="../public/images/img-cafetera-moulinex.jpg"
            alt="Cafetera Moulinex"
            height="200"
            width="200"
          />
          <h3 class="precio">6.770 puntos</h3>
          <h3 class="descuentoDesc">40% OFF | Cafetera Moulinex</h3>
        </div>
      </article>
      <article class="articulo">
        <div class="cajaArticulo">
          <img
            src="../public/images/img-macbook-pro-2019.jpg"
            alt="Macbook Pro"
            height="200"
            width="200"
          />
          <h3 class="precio">230.000 puntos</h3>
          <h3 class="descuentoDesc">20% OFF | Macbook Pro 2019</h3>
        </div>
      </article>
      <article class="articulo">
        <div class="cajaArticulo">
          <img
            src="../public/images/img-samsung-galaxy-s10.jpg"
            alt="Samsung Galaxy"
            height="200"
            width="200"
          />
          <h3 class="precio">70.500 puntos</h3>
          <h3 class="descuentoDesc">10% OFF | Samsung Galaxy S10</h3>
        </div>
      </article>
      <article class="articulo">
        <div class="cajaArticulo">
          <img
            src="../public/images/img-tv-samsung-smart.jpg"
            alt="SmartTv"
            height="200"
            width="200"
          />
          <h3 class="precio">6.770 puntos</h3>
          <h3 class="descuentoDesc">5% OFF | SmartTv Samsung 43</h3>
        </div>
      </article>

      <h2>OFERTAS!</h2>
      <article class="articulo">
        <div class="cajaArticulo">
          <img
            src="../public/images/img-cafetera-moulinex.jpg"
            alt="Cafetera Moulinex"
            height="200"
            width="200"
          />
          <h3 class="precio">6.770 puntos</h3>
          <h3 class="descuentoDesc">40% OFF | Cafetera Moulinex</h3>
        </div>
      </article>
      <article class="articulo">
        <div class="cajaArticulo">
          <img
            src="../public/images/img-macbook-pro-2019.jpg"
            alt="Macbook Pro"
            height="200"
            width="200"
          />
          <h3 class="precio">230.000 puntos</h3>
          <h3 class="descuentoDesc">20% OFF | Macbook Pro 2019</h3>
        </div>
      </article>
      <article class="articulo">
        <div class="cajaArticulo">
          <img
            src="../public/images/img-samsung-galaxy-s10.jpg"
            alt="Samsung Galaxy"
            height="200"
            width="200"
          />
          <h3 class="precio">70.500 puntos</h3>
          <h3 class="descuentoDesc">10% OFF | Samsung Galaxy S10</h3>
        </div>
      </article>
      <article class="articulo">
        <div class="cajaArticulo">
          <img
            src="../public/images/img-tv-samsung-smart.jpg"
            alt="SmartTv"
            height="200"
            width="200"
          />
          <h3 class="precio">6.770 puntos</h3>
          <h3 class="descuentoDesc">5% OFF | SmartTv Samsung 43</h3>
        </div>
      </article>
    </main>
  </body>
  <hr />
  <footer>
    <ul>
      <h4>
        <i class="fab fa-cc-visa iconos mt-3"></i>Paga con tarjeta o efectivo
      </h4>
      <p>
        Con nuestra tienda, tienes cuotas sin interes con tarjeta o efectivo en
        puntos de pago. ¡ Y siempre es seguro !
      </p>
      <h4>
        <i class="fas fa-shipping-fast iconos"></i>Envío gratis desde 2.500
        puntos
      </h4>
      <p>
        Solo por estar registrad@ en nuestra tienda, tienes envíos gratis en
        miles de productos.
      </p>
      <h4>
        <i class="fas fa-shield-alt iconos"></i>Seguridad, de principio a fin
      </h4>
      <p>
        ¿ No te gusta ? ¡ Devuélvelo ! En nuestra tienda no hay nada que no
        puedas hacer, porque estás siempre protegid@.
      </p>
    </ul>
  </footer>
</html>
