html {
  font-family: "Roboto", sans-serif;
  width: 90%;
  margin: 20px;
}

.logo {
  background-color: #eac926;
}

.nav {
  background-color: #1259c3;
  color: white;
}

body {
  font-size: 12px;
  text-align: center;
}

img {
  max-width: 100%;
}

h2 {
  font-size: 24px;
}

.bold {
  font-size: 20px;
  font-weight: bold;
}

.precio {
  font-size: 18px;
}

.descuentoDesc {
  font-size: 16px;
}

footer {
  text-align: center;
  background-color: #ebebeb;
}

.iconos {
  font-size: 2em;
  margin-bottom: 10px;
  margin-right: 10px;
}

.articulo {
  padding: 10px;
}

.cajaArticulo {
  border: solid 1px red;
  margin: 15px;
}
